
<!DOCTYPE html>

<html lang="en-us" dir="ltr">
<head>
<title>Contract</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">

  <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
  <script src="/static/admin/js/nav_sidebar.js" defer></script>

<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">



    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    

<meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class=" dashboard"
  data-admin-utc-offset="-18000">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    
    <div id="header">
        <div id="branding">
        
<h1> {{ contract.contract_title }}</h1>

        </div>
        
        
        <div id="user-tools">
            
                Welcome,

                    <a href="">View site</a> 
        </div>
        
        
        
    </div>
    
    <!-- END Header -->
    
    <div class="main" id="main">
      
        
      
      <div class="content">
        
          
        
        <!-- Content -->
        <div id="content" class="colMS">
          
          <h1> 
                <a id="site-name"><a href="{% url 'vcm_app:index' %}"><!--<a href="/vcm/">-->
                    <button style="background-color:rgb(0, 0, 0); margin:5px;">Home</a>    

                    <a id="site-name"><a href="{% url 'vcm_app:contracts' %}"><!--<a href="/vcm/contracts/">-->
                        <button style="background-color:rgb(0, 0, 0); margin:5px;">Contracts</a>    

            </h1>
            
            <h2>Vendor: <a href="{% url 'vcm_app:vendor_detail' contract.vendor.id %}">{{ contract.vendor.vendor_name }}</a></h2>
<h2>Current Status: {{ contract.get_contract_status_display }}</h2>

<h2><u>Type of Work Done</u>:</h2>

{% if contract.worktype_set.all %}
  {% for work in contract.worktype_set.all %}
  <li>{{ work.work }}</li>
  {% endfor %}
{% else %}
  <p>Type of work done is not available.</p>
{% endif %}






<h2><u>Payments</u>:</h2>

{% if contract.payment_set.all %}
  <table >
      <tr>
          <th>Check Date</th>
          <th>Check Number</th>
          <th>Check Amount</th>
          <th>Check Memo</th>
      </tr>

      {% for payment in contract.payment_set.all %}
      <tr>
          <td align="center">{{ payment.payment_date }}</td>
          <td align="center">{{ payment.payment_checkNumber }}</td>
          <td align="center">{{ payment.payment_checkAmount }}</td>
          <td align="center">{{ payment.payment_memo }}</td>
      </tr>          
      {% endfor %}
  </table>

{% else %}
  <p>No payments are available.</p>
{% endif %}
          
          
{% if contract.payment_set.all %}
  <h2><a href="/{{ contract.contract_pdf }}" download>Download Contract PDF</a><h2></h2>
{% else %}
 <h2> <p>No PDF available.</p> </h2>
{% endif %}
          

          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>



