
<!DOCTYPE html>

<html lang="en-us" dir="ltr">
<head>
<title>Vendor Contract Management</title>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">

  <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
  <script src="/static/admin/js/nav_sidebar.js" defer></script>

<link rel="stylesheet" type="text/css" href="/static/admin/css/dashboard.css">



    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
    

<meta name="robots" content="NONE,NOARCHIVE">
</head>

<body class=" dashboard"
  data-admin-utc-offset="-18000">

<!-- Container -->
<div id="container">

    
    <!-- Header -->
    
    <div id="header">
        <div id="branding">
        
<h1 id="site-name"><a href="/admin/">Welcome to Vendor Contract Management</a></h1>

        </div>
        
        
        <div id="user-tools">
            
                Welcome,

                    <a href="">View site</a> 
        </div>
        
        
        
    </div>
    
    <!-- END Header -->
    
    <div class="main" id="main">
      
        
      
      <div class="content">
        
          
        
        <!-- Content -->
        <div id="content" class="colMS">
          
          <h1> 
                <a  id="site-name"><a href = "">
                  <button style="background-color:rgb(0, 0, 0); margin:5px;">User Portal</a>    

                <a id="site-name"><a href="/admin/">
                  <button style="background-color:rgb(0, 0, 0); margin:5px;">Admin Portal</a>    
                    
            </h1>

          
          
<div id="content-main">
  
    <div class="app-vcm_app module">
      <table>
        <caption>
          <a href="" class="section" title="Models in the Vcm_App application"> User Portal Menu</a>
        </caption>
        
          <tr class="model-contract">
            
              <th scope="row"><a href="/vcm/contracts/">Contracts</a></th>
            

            
              <td><a href="/vcm_app/contract/add/" class="addlink">Add</a></td>
            

            
              
                <td><a href="/vcm_app/contract/" class="changelink">Change</a></td>
              
    
          </tr>
        
          <tr class="model-vendor">
            
              <th scope="row"><a href="/vcm/vendors/">Vendors</a></th>
            

            
              <td><a href="/vcm/vendor/add/" class="addlink">Add</a></td>
            

            
              
                <td><a href="/vcm_app/vendor/" class="changelink">Change</a></td>
              
            
          </tr>
        
      </table>
    </div>
  


</div>

          

          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>
